<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
</head>
<body>
<style>
    div {
        width: 30%;
        margin: auto;
        padding-top: 50px;
    }

    h1 {
        font-size: 3em;
        text-align: center;
    }

    input {
        margin-bottom: 15px;
        padding: 10px;
    }
</style>
<div style="text-align: center">
    <form class="form-group" action="/login" method="post">
        <h2>Login</h2>
        <br>
        <input class="form-control" type="text" name="username" placeholder="username">
        <input class="form-control" type="password" name="password" placeholder="password">
        <h6 style="color: red" th:text="${error}">
        </h6>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
</div>
</body>
</html>