<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<div align="center">
    <img th:src="@{/{pic}(pic=${product.getPicture()})}" class="img-circle img-responsive"
         align="center" width="150" height="150">
</div>
<br>
<div>
    <!--/*@thymesVar id="product" type="lanaDrahrepus.model.Product"*/-->
    <ul class="list-group-flush">
        <li class="list-group-item"><b>Product Code: </b>
            <p th:text="${product.getCode()}"></p>
        </li>
        <li class="list-group-item"><b>Product Name : </b>
            <p th:text=" ${product.getName()}"></p></li>
        <li class="list-group-item"><b>Product Price : </b>
            <p th:text="${product.getPrice()}"></p></li>
        <li class="list-group-item"><b>Origin of Product : </b>
            <p th:text=" ${product.getOrigin()}"></p></li>
    </ul>
</div>
<h6 align="center" style="color: green"></h6>
<div style="text-align: center">
    <form action="/products" method="post">
        <input type="hidden" name="action">
        <button class="btn btn-primary" type="submit"><%=button%></button>
    </form>
</div>
</body>
</html>
